<div>  
  <%= link_to signup_path do %>
    <div class="circle_buttons signup_button"><div>Sign In</div></div>
  <% end %>
  <%= link_to root_path do %>
    <div class="circle_buttons login_button"><div>Log In</div></div>
  <% end %>
</div>