.circle_buttons {
  border: none;
  margin: 0 auto;
  width: 100px;
  display: inline-block;
}

.circle_buttons:hover {
  border: none;
}

.signup_button:after {
  content: "";
  text-decoration: none;
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background: #FA9534;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
}
.signup_button:after:hover {
  border: inset;
}

.signup_button div {
  float: left;
  width: 100%;
  padding-top: 50%;
  line-height: 1em;
  margin-top: -0.5em;
  text-align: center;
  color: white;
}

.login_button:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background: #92C55F;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.login_button div {
  float: left;
  width: 100%;
  padding-top: 50%;
  line-height: 1em;
  margin-top: -0.5em;
  text-align: center;
  color: white;
}

.signup-form {
  margin-top: 50px;
  text-align: center;
}

.signup-form input {
  border-style: none;
  border-radius: 5px;
  moz-border-radius: 5px;
  webkit-border-radius: 5px;
  text-align: center;
  width: 80%;
  margin-bottom: 10px;
}

#welcome_buttons a {
  text-decoration: none;
}

.top-buffer {
  padding-top: 45px;
}

.product {
  color: black;
}

.redbg {
  border-radius: 0;
  background-color: #FF4D4D;
  border-style: solid;
  border-width: 0 0 3px 0;
  border-color: #9C2F2F;
}

.navbar-colors > li > a:link {
  color: #FFFFFF;
}

.navbar-colors > li > a:hover {
  color: #DDDDDD;
}

.navbar-colors > li > a:visited {
  color: #FFFFFF;
}

.navbar-colors > li > a:active {
  color: #DDDDDD;
}

.betayellowborder {
  border: solid;
  border-size: 4px;
  border-color: #FCD844;
}

.betayellow {
  background-color: #FCD844;
  opacity: 0.6;
}

.panel > .betayellow > h3 {
  color: black;
  padding: 0;
  margin: 0;
}

.btn-add {
  background-color: #FF4D4D;
  color: white;
  border: solid black 2px;
}

.product > a:link {
  color: #85B559;
}

.border-inset:hover {
  border-style: inset;
}

.edit-customer-form {
  text-align: center;
  margin-top: 20px;
}

.edit-customer-form input {
  border-style: solid;
  border-color: #d9edf7;
  border-radius: 5px;
  moz-border-radius: 5px;
  webkit-border-radius: 5px;
  text-align: center;
  width: 80%;
  margin-bottom: 10px;
}

.edit-customer-form .btn {
  background-color: #5cb85c;
}

.edit-customer-form .well input {
  width: 100%;
}

.vertical-align-middle {
  vertical-align: middle;
}

.vertical-align-middle > td {
  vertical-align: middle !important;
}

.vertical-align-middle > tr > td {
  vertical-align: middle !important;
}

.edit_cc input {
  width: 40%;
}

.no-bottom-padding {
  padding-bottom: 0;
  margin-bottom: 0;
}

.big-glyph {
  font-size: 2em;
}