<div class="container col-md-7 col-md-offset-">
  <%= render 'layouts/flash' %>
  <%= render 'search' %>
  <%= render 'product_display' %>
</div>

<div class="container col-md-5 text-center">
  <%= render 'shopping_cart' %>
</div>





